@using System.Security.Claims
<!-- ======= Header ======= -->


@if(User.IsInRole("Admin") == true){

      <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">
        <div>Hello, @User.Identity.Name</div>

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Nook</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo me-auto me-lg-0"><img src="~/assets/img/logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0 m-4">
        <ul> 
          <li><a class="nav-link scrollto " asp-action="GetAllReceptionists" asp-controller="Receptionist">Reciptionist   </a></li>
          <li><a class="nav-link scrollto" asp-action="GetAllProducts" asp-controller="Product">Product   </a></li>
          <li><a class="nav-link scrollto " asp-action="Register" asp-controller="Account">Register   </a></li>
          <li><a  class="btn btn-btn-warning bg-warning" asp-action="LogOut" asp-controller="Account">LogOut</a></li>
      </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header>
  
  <!-- End Header -->

  
@section Scripts
{
 <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js">
     </script>
        
        <script>
             var hubConnection=
           new signalR.HubConnectionBuilder().withUrl("/Chat").build();
    //handle request come from server
   hubConnection.on("ClientNotify",function(){
   
   });
    hubConnection.on("VisitorsNotify",function(obj){
      
   
   });
    //Start
    hubConnection.start().then(function(){
        console.log("Connect Success");
    });
    
        </script>
}

}
else
{
        
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">
         <div>Hello ,@User.Identity.Name</div>
      <h1 class="logo me-auto me-lg-0"><a href="index.html">Gp<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="~/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul> 
          <li><a class="nav-link scrollto " asp-action="classReservation" asp-controller="Home">ClassReservation </a></li>
          <li><a class="nav-link scrollto" asp-action="IndividualReservation" asp-controller="Home">Inividual</a></li>
          <li><a class="nav-link scrollto " asp-action="getData" asp-controller="EndSession">Checkout</a></li>
          <li><a class="nav-link scrollto " asp-action="AddingInfo" asp-controller="Outgoing">Outgoing</a></li>
          <li><a class="nav-link scrollto " asp-action="Show" asp-controller="Incomming">Incomming</a></li>
       <li><a asp-action="Catring" asp-controller="Home">Catring <span class="badge badge-danger">1</span></a></li>
      <li class="dropdown"><a href="#"><i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>
                  <a asp-action="Catring" asp-controller="Home" asp-route-id="1">Vistors <span id="Vistors-Bills"class="badge badge-danger">1</span></a>
                </li>
              <li ><a asp-action="Catring" asp-controller="Home" asp-route-id="2"> Clients <span id="Clients-Bills" class="badge badge-danger">1</span></a>
              </li>
      </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
       <a class="btn btn-btn-warning bg-warning" asp-action="LogOut" asp-controller="Account">LogOut</a>
      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header>
  
  <!-- End Header -->
 
 
  }

  

  