
@{
    ViewData["Title"] = "Index";
    Layout = null;

}
@using Cowrk_Space_Mangment_System
@using Cowrk_Space_Mangment_System.Models
@using Cowrk_Space_Mangment_System.View_Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    #MainDIV{
        display:flex;
        flex-direction:row;
        height:25em;
        
    }
    #LDIV{
        background-color:rgb(238,185,80);
        text-align:center;
        width:50%;
      padding-top:7em;
    }
    #RDIV{
          background-color:rgb(215,215,215);
          text-align:center;
          width:50%;
         padding-top:7em;
    }
    input{
         width: 140px;
          height: 45px;
          font-family: 'Roboto', sans-serif;
          font-size: 11px;
          text-transform: uppercase;
          letter-spacing: 2.5px;
          font-weight: 500;
          color:white;
           border: none;
          border-radius: 45px;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease 0s;
          cursor: pointer;
          outline: none;    

    }
    .inputR {
          background-color:rgb(87,87,87);
  }
  .inputL {

          background-color: rgb(87,87,87);  
  }

  input:hover{
          color: rgb(87,87,87);
          transform: translateY(-7px);
  }
 .inputR:hover {
          background-color: rgb(238,185,80);
          box-shadow: 0px 15px 20px rgb(238,185,80);
}

.inputL:hover {
          background-color: rgb(215,215,215);
          box-shadow: 0px 15px 20px rgb(215,215,215);
}

</style>

<div id="MainDIV">
   
        <div id="LDIV">
             <h1>One of our Precious Clients ?</h1>
             <h6>Then sign in as</h6>
             <input class="inputL" onclick="window.location= '@Url.Action( "clientview", "market")'"  type="button" value="Client" />
        </div>
   
        <div id="RDIV"> 
            <h1>New to our Cosy Co-Working Space ?</h1>
             <h6>Then sign in as</h6>
             <input class="inputR" type="button" onclick="window.location= '@Url.Action( "cart", "market")'"  value="Visitor" />
        </div>
    
</div>






