
  <!-- ======= Features Section ======= -->
  @model List<CartViewModel>
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("~/assets/img/features.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
              @foreach (var item in Model)
             {
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>@item.ClientName</h4> 
              <h4><a asp-action="CartProducts" asp-controller="Catring" asp-route=""></a></h4>
              @{string ProductName = " ";}
              @foreach (var product in item.Products)
                            {
                             ProductName +=  product.Name + " ";
                            }
                            <p> @ProductName </p>
                </div>
              }
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->