@model ReserveClass_ViewModel  
<section id="about" class="about">       
     
      <div class="container" data-aos="fade-up">

          @*add section calender*@


        <div class="row">
          <partial name="_creat" model="Model"/>
          
          
        
      </div>
      </div>
    </section>
    @section Scripts{
<script>
    $(document).ready(function(){
        $('#btnclick').click(function(){
            $('#exampleModal').modal('toggle')
        })
    })
</script>
  	<script src="~/js/MindFusion.Scheduling.js" type="text/javascript"></script>
	<script src="~/js/ItemEvents.js" type="text/javascript"></script>
     <script src="~/js/jquery-3.3.1.min.js"></script>
}<!-- End About Section -->