@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ReserveClass_ViewModel 

@{
SelectList Clients = new SelectList(@Model.clients, "ID", "Name");
}
<button style="background-color: #F9CB38; width:100px;border:1px solid black;color:black" id="btnclick" type="button" class="btn ms-4" data-toggle="modal" data-target="#exampleModal" onclick="show">
  Book
</button>

<form  method="post" asp-action="creatSave" asp-controller="ClassREserve">
    <div class="row col-6">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>

         <label asp-for="ClientID"  ></label>
        <select class="form-control" asp-for="ClientID" asp-items="Clients">
         
        </select>
        
    </div>
    <div>
        <label asp-for="phone"></label>
        <input asp-for="phone" class="form-control" />
        <span asp-validation-for="phone" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Date_Reserve"></label>
        <input asp-for="Date_Reserve" class="form-control" />
        <span asp-validation-for="Date_Reserve" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Start_Time"></label>
        <input asp-for="Start_Time"  class="form-control"/>
        <span asp-validation-for="Start_Time" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ExpextedHours"></label>
        <input asp-for="ExpextedHours" class="form-control" />
        <span asp-validation-for="ExpextedHours" class="text-danger"></span>
    </div>
    <div>
        
        <label asp-for="type_Room"></label>
       
        <select  asp-for="type_Room" class="form-control">
            <option>
                Nook 1
            </option>
            <option>
                Nppk 2
            </option>
        </select>
        <span asp-validation-for="type_Room" class="text-danger"></span>
    </div>
    
    <input style="width:70px" type="submit" value="Cancel" class="btn btn-danger" />
    <input style="width:70px" type="submit" value="Save" class="btn btn-success" />


    </div>
</form>

@section Scripts{
    <!--JQuery-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
   

    </script>
}
