@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ReserveClass_ViewModel 

<form  method="post" asp-action="creatSave" asp-controller="ClassREserve" >
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Client_Name"></label>
        <input asp-for="Client_Name" class="form-control" />
        <span asp-validation-for="Client_Name" class="text-danger"></span>
        
    </div>
    <div>
        <label asp-for="phone"></label>
        <input asp-for="phone" class="form-control" />
        <span asp-validation-for="phone" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Date_Reserve"></label>
        <input asp-for="Date_Reserve" class="form-control" />
        <span asp-validation-for="Date_Reserve" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Start_Time"></label>
        <input asp-for="Start_Time"  class="form-control"/>
        <span asp-validation-for="Start_Time" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ExpextedHours"></label>
        <input asp-for="ExpextedHours" class="form-control" />
        <span asp-validation-for="ExpextedHours" class="text-danger"></span>
    </div>
    <div>
        v>
        <label asp-for="type_Room"></label>
        <input asp-for="type_Room" class="form-control" />
        <span asp-validation-for="type_Room" class="text-danger"></span>
    </div>
    <input type="submit" value="Save" class="btn btn-success" />
</form>
@section Scripts{
    <!--JQuery-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
